<html>
<head>
	<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap" rel="stylesheet">
	<title>HCAS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="/stylesheets/login.css">
	<link rel="stylesheet" href="/stylesheets/orderMedecine.css">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/footer.css">
	<link rel="stylesheet" href="/stylesheets/appointments.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">

<!-- ChatBot -->
	<link rel="stylesheet" href="css/jquery.convform.css">
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.convform.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</head>
<body>
	
<nav class='z-10 mb-0 navbar navbar-default'>
	<div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='/'>HealthAutomation</a>
		</div>
		<div class='text-2xl collapse navbar-collapse'>
			<ul class='nav navbar-nav navbar-right'>
				<li><a href="/home">Home</a>
				<li><a href="#">Contact Us</a>
				<li><a href="/">Login</a></li>
				<li><a href="/register">Sign up</a></li>
				<li><a href="/login">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>