<%- include('partials/header') %>

  <!--hero page-->
  <div class="hero">
    <div class="headline">
      <h1 class="text-7xl text-center leading-10 font-extrabold self ">HealthAutomation</h1>
      <p class="text-center text-3xl mt-6">Join Us For Better Health Care Experience</p>
      <!-- <button type="button">Explore</button> -->
    </div>
  </div>
  <!--/.hero page-->


  <!-- Main container-->


  <!--Section: Best features-->

  <h2 class="text-5xl leading-10 font-bold text-center my-10">Features</h2>
  <div class="features">

    <div class="Card ph1 bg-cover bg-center" href="#">
      <img
        src="https://images.unsplash.com/photo-1577596387099-15dde4e2b844?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fGhlYWFsdGglMjBhbmQlMjBjYXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
        alt="">
      <div class="overlay">
        <h2 class="title text-color-red">Order Medicine</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, rem natus. Saepe adipisci </p>
        <a class="link" href="/orderMedecine">Open</a>
      </div>
    </div>
    <div class="Card ph2 bg-cover bg-center" href="#">
      <img
        src="https://images.unsplash.com/photo-1560582861-45078880e48e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fG1lZGljYWwlMjBjYXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
        alt="">
      <div class="overlay">
        <h2 class="title">Book Apointments</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, rem natus. Saepe adipisci </p>
        <a class="link" href="https://bhavyakalra-13.github.io/healthcare/">Open</a>
      </div>
    </div>
    <div class="Card ph3 bg-cover bg-center ">
      <img
        src="https://images.unsplash.com/photo-1604881991720-f91add269bed?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2hhdCUyMHdpdGglMjBkb2N0b3JzfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
        alt="">
      <div class="overlay">
        <h2 class="title text-color-red">Quick Chat</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, rem natus. Saepe adipisci </p>
        <a class="link quick-chat">Open</a>
      </div>
    </div>
    <div class="Card ph4 bg-cover bg-center" href="/orderMedecine">
      <img
        src="https://images.unsplash.com/photo-1512069511692-b82d787265cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBoYXJtYWN5fGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
        alt="">
      <div class="overlay">
        <h2 class="title text-color-red">Nearby stores</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, rem natus. Saepe adipisci </p>
        <a class="link" href="#">Open</a>
      </div>
    </div>

  </div>

  <!--/Section: Best features-->

  <!--Section: About-->
  <div class="w-1/2 m-0 m-auto">
    <h2 class="text-5xl leading-10 font-bold text-center my-20">About us</h2>
    <p class="text-center text-3xl fond-medium mt-4 p-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Quaerat dicta ad ut
      ducimus! Molestias nostrum hic
      quidem! Debitis beatae quaerat culpa voluptatum cupiditate! Harum ipsum adipisci iure enim impedit velit.</p>
    <p class="text-center text-3xl fond-medium mt-4 p-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt,
      dicta, nesciunt
      similique cupiditate, nulla
      provident culpa hic dolor fuga quos repellat. Quas officia debitis id incidunt aut fuga omnis earum!</p>
  </div>
  <!--Section: About-->

  <!-- our team -->
  <div class="container">
    <h1 class="text-5xl leading-10 font-bold text-center my-20">Our Team</h1>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="profile_card">
          <img src="https://static.pexels.com/photos/60778/pexels-photo-60778.jpeg" alt="image" />
          <div class="profile_content">
            <h2>Akash Kumar</h2>
            <h3>Web Designer</h3>
            <ul class="social-link">
              <li><a href="" class="fa fa-facebook"></a></li>
              <li><a href="" class="fa fa-twitter"></a></li>
              <li><a href="" class="fa fa-google"></a></li>
              <li><a href="" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="profile_card">
          <img src="https://static.pexels.com/photos/60778/pexels-photo-60778.jpeg" alt="image" />
          <div class="profile_content">
            <h2>Bhavya kalra</h2>
            <h3>Web Designer</h3>
            <ul class="social-link">
              <li><a href="" class="fa fa-facebook"></a></li>
              <li><a href="" class="fa fa-twitter"></a></li>
              <li><a href="" class="fa fa-google"></a></li>
              <li><a href="" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="profile_card">
          <img src="https://static.pexels.com/photos/60778/pexels-photo-60778.jpeg" alt="image" />
          <div class="profile_content">
            <h2>Vikram Chharia</h2>
            <h3>Web Designer</h3>
            <ul class="social-link">
              <li><a href="" class="fa fa-facebook"></a></li>
              <li><a href="" class="fa fa-twitter"></a></li>
              <li><a href="" class="fa fa-google"></a></li>
              <li><a href="" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="profile_card">
          <img src="https://static.pexels.com/photos/60778/pexels-photo-60778.jpeg" alt="image" />
          <div class="profile_content">
            <h2>Manish Soni</h2>
            <h3>Web Designer</h3>
            <ul class="social-link">
              <li><a href="" class="fa fa-facebook"></a></li>
              <li><a href="" class="fa fa-twitter"></a></li>
              <li><a href="" class="fa fa-google"></a></li>
              <li><a href="" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- our team end -->

  <!-- chat bot -->
  <div class="chat_icon">
    <i class="fas fa-comment-alt p-8 mb-4"
      style="font-size: 3rem; color: white; border-radius: 50%; background-color: #5d8ffc;" aria-hidden="true"></i>
  </div>

  <div class="chat_box">
    <div class="my-conv-form-wrapper">
      <form action="" method="GET" class="hidden">

        <select data-conv-question="Hello! I'm a bot. May I ask You few questions? " name="first-question">
          <option value="yes">Yes</option>
          <option value="sure">Sure!</option>
        </select>
        <input type="text" name="name"
          data-conv-question="Alright! First, tell me your full name, please.|Okay! Please, tell me your name first.">
        <input type="text" data-conv-question="Howdy, {name}:0! It's a pleasure to meet you. " data-no-answer="true">

        <select name="multi[]" data-conv-question="Are you experiencing any of the following symptoms?" multiple>
          <option value="Cough">Cough</option>
          <option value="Fever">Fever</option>
          <option value="Difficulty in breathing">Difficulty in breathing</option>
          <option value="Loss of senses of smell and taste">Loss of senses of smell and taste</option>
          <option value="None of the above">None of the above</option>
        </select>

        <select
          data-conv-question="Have you recently came in contact with a person who have tested positive for Covid-19?"
          name="programmer">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <div data-conv-fork="programmer">
          <div data-conv-case="yes">
            <input type="text"
              data-conv-question="Don't panic. Simply follow the Covid-19 norms strictly. Isolate yourself. Better to get yourself checked. Take immunity boosters. "
              data-no-answer="true">
          </div>
          <div data-conv-case="no">
            <input name="thought"
              data-conv-question="If you are an eligible candidate, immediately get yourself vaccinated. If not , then Simply follow the Covid-19 norms strictly. Take immunity boosters."
              data-no-answer="true">

            </input>
          </div>
        </div>
        <select data-conv-question="Wanna look activities that can help to increase your immunity?" name="programmer">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <div data-conv-fork="programmer">
          <div data-conv-case="yes">
            <input type="text" data-conv-question="Drink warm water throughout the day." data-no-answer="true">
            </input>
            <input type="text" data-conv-question="Practice Meditation, Yogasana, and Pranayama. "
              data-no-answer="true">
            <input type="text" data-conv-question="Increase the intake of Turmeric, Cumin, Coriander and garlic. "
              data-no-answer="true">
            <input type="text"
              data-conv-question="Drink herbal tea or decoction of Holy basil, Cinnamon, Black pepper, Dry Ginger and Raisin. "
              data-no-answer="true">
            <input type="text"
              data-conv-question="Avoid sugar and replace it with jaggery if needed.Apply Ghee (clarified butter), Sesame oil, or Coconut oil in both the nostrils to keep the nostrils clean. "
              data-no-answer="true">
            <input type="text" data-conv-question="Inhale steam with Mint leaves and Caraway seeds."
              data-no-answer="true">
            </input>
            <select data-conv-question="Was this information helpful." name="programmer">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div data-conv-fork="programmer">
              <div data-conv-case="yes">
                <input type="text" data-conv-question="Great to hear that!! " data-no-answer="true">
              </div>
              <div data-conv-case="no">
                <input name="thought" data-conv-question="We are sorry for that!!!." data-no-answer="true">
                </input>
              </div>
            </div>
          </div>
          <div data-conv-case="no">
            <input name="though" data-conv-question=" Okay!!!">
            </input>
          </div>
        </div>
        <input type="text" name="conclusion" data-conv-question="Thank You,{name}:0! Have a nice Day.">
        </input>
      </form>
    </div>
  </div>

  <!-- chat bot end -->




  <!-- arrow end -->

  <script type="text/javascript">

    var user = document.getElementById('userBox').value;
    document.getElementById('chatLog').innerHTML = user + "<br>";
    if (user in know) {
      document.getElementById('chatLog').innerHTML = know[user] + "<br>";
    } else {
      document.getElementById('chatLog').innerHTML = "I do not understand .";
    }
    portfolioList = document.querySelectorAll('.portfolio-box');
    portfolioList.forEach(function (portfolioPic) {
      portfolioPic.addEventListener('click', function () {
        bg = this.style.backgroundImage;
        document.getElementById('port_pop_pic_bg').classList.add("active")
        document.getElementById('port_pop_pic').style.backgroundImage = bg
        document.getElementById('port_pop_pic').classList.add("active")
      });
    })
    document.getElementById('port_pop_pic_bg').addEventListener('click', function () {
      document.getElementById('port_pop_pic_bg').classList.remove("active")
      document.getElementById('port_pop_pic').classList.remove("active")
    })
  </script>


  <%- include('partials/footer') %>