<html>
<head>
	<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap" rel="stylesheet">
	<title>HCAS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/orderMedecine.css">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>

    <div class='container'>
        <h2><%= stores.Name %></h2>
        <h3><b>Address = <%= stores.Address %></b></h3>

        <div class="infobox">Comming soon</div>
    </div>

<!--/.Footer-->

<div class="jumbotron m-0">
    <div class = "shadowbox m-0">
      <div class="container ">
          <div class="row">
              <div class="col-lg-3 col-sm-2" >
                  <p class="color">Contact us </p> 
                  <div><a href="#"><p class="color"><i class="fas fa-phone"></i>+91 9599242348</p></a></div>
                  <div><a href="#"><p class="color"><i class="fas fa-envelope"></i>abc@gmail.com</p></a></div>
              </div>
              <div class="col-lg-3 col-sm-2" id="about">
                <div><a href="#"><p class="color">Home</p></a></div>  
                <div><a href="#"><p class="color">About Us</p></a></div>
                <div><a href="#"><p class="color">Contact Us</p></a></div>
              </div>
          </div>
          <hr>
          <div class="row">
              <a href="#"><p class="mb-5 w-1/4 color"><i class="fab fa-2x fa-facebook-f"></i></p></a>
              <a href="#"><p class="mb-5 w-1/4 color"><i class="fab fa-2x fa-instagram"></i></p></a>
              <a href="#"><p class="mb-5 w-1/4 color"><i class="fab fa-2x fa-twitter"></i></p></a>
              <a href="#"><p class="mb-5 w-1/4 color"><i class="fab fa-2x fa-youtube"></i></p></a>
              <a href="#"><p class="mb-5 w-1/4 color"><i class="fab fa-2x fa-pinterest-square"></i></p></a>
          </div>
          <hr>
          
      </div>
      <div class="text-center text-lg mt-5 pb-6">
        © 2021 Copyright: HealthCare
      </div>
    </div>
  </div>
  
  
  </body>	
  </html>